body {
    background-color: black;
    margin-bottom: 0px;
}
h2 {
    font-family: "Courier New", monospace;
    color: white;
    text-align: center;
}
iframe {
    padding: 25px;
}
#mete-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#forecast {
    text-align: center;
}
footer {
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: gray;
}
p {
    margin: 0px;
}