body {
    background-color: black;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
iframe {
    width: 600px;
    height: 400px;
    margin: 10px;
    padding: 25px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 10px;
}