@font-face {
    font-family: "merriweather";
    src: url(Merriweather-Regular.ttf);
}
@media only screen and (min-width: 500px) {
header {
    display: flex;
    flex-wrap: nowrap;
    height: 6vh;
}
#icon-wrap {
    width: 60px;
    height: 100%;
}
img {
    max-height: 100%;
}
#title {
    padding-left: 10px;
    font-size: 24px;
    color: black;
    font-family: "merriweather";
}
#subtitle {
    padding-left: 10px;
    font-size: 20px;
    color: black;
    font-family: "merriweather";
}
#time {
    top: 15px;
    color: black;
    font-size: 24px;
    position: absolute;
    right: 0px;
}
body {
    background-color: white;
    margin-bottom: 0px;
}
main {
    display: flex;
    flex-wrap: nowrap;
    height: 88vh;
}
iframe {
    padding: 0px;
}
#frame-1 {
    display: grid;
    grid-template-rows: 1fr;
    width: 30%;
    height: 100%;
}
#frame-1-1 {
    width: 50%;
    height: 50%;
}
#frame-1-1 > p {
    font-family: "merriweather";
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#frame-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#frame-1-1-1 > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}
#current-weather {
    width: 100%;
}
#current-weather > img {
    width: 100%;
}
.frame-component {
    width: 100%;
}
#frame-2 {
    width: 25%;
}
#frame-3 {
    display: grid;
    grid-template-rows: 1fr;
    width: 45%;
    height: 100%;
}
footer {
    left: 0px;
    right: 0px;
    height: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: gray;
}
p {
    margin: 0px;
}
}
@media only screen and (max-width: 500px) {
header {
    display: flex;
    flex-wrap: wrap;
}
#icon-wrap {
    width: 60px;
    height: 60px;
}
img {
    max-height: 100%;
}
#title {
    padding-left: 10px;
    font-size: 18px;
    color: white;
    font-family: "merriweather";
}
#subtitle {
    padding-left: 10px;
    font-size: 14px;
    color: white;
    font-family: "merriweather";
}
#time {
    top: 30px;
    color: white;
    font-size: 14px;
    position: absolute;
    right: 0px;
}
body {
    background-color: black;
    margin-bottom: 0px;
}
main {
    display: grid;
    grid-template-rows: 1fr;
}
iframe {
    padding: 0px;
    max-width: 95%;
}
#frame-1 {
    display: grid;
    grid-template-rows: 1fr;
}
#frame-2 {
    display: none;
}
#frame-3 {
    display: grid;
    grid-template-rows: 1fr;
}
footer {
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: gray;
}
p {
    margin: 0px;
}
}